/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#envoltura-header{
    width: 100%;
    height: auto;
}

#header {
    background-color: #88ff33;
    border: 2px solid gray;
    height: auto;
    width: 960px;
    margin:  0 auto;
    padding: 3px 3px;
}

    #header-logo{
        display: inline-block;
    }
        #header-logo img{
            height: 100px;
            width: 100px;
            background-color: #ff0000;
            display: inline-block;
        }

    #header-menu-search{
        display: inline-block;
        float: right;
    }
        #envoltura-buscador{
            display: inline-block;/* para evitar que en un float sobresalga de la caja, hacer el padre inline-block*/
            width: 100%;
        }
            #buscador{
                float: right;
            }

        #menu-pagina{
            width: auto;
            height: auto;
        }

            #menu-pagina ul{
                list-style: none none;
                height: auto;
                width: 100%;
            }
                #menu-pagina ul li:first-child{
                    border-radius: 5px 0 0 5px; 
                    -webkit-border-radius: 5px 0 0 5px;
                    -moz-border-radius: 5px 0 0 5px; 
                    -o-border-radius: 5px 0 0 5px;
                    -ms-border-radius: 5px 0 0 5px;
                }
                #menu-pagina ul li:last-child{
                    border-radius: 0 5px 5px 0; 
                    -webkit-border-radius: 0 5px 5px 0;
                    -moz-border-radius: 0 5px 5px 0; 
                    -o-border-radius: 0 5px 5px 0;
                    -ms-border-radius: 0 5px 5px 0;
                }
                #menu-pagina ul li{
                    display: block;
                    list-style: none none;
                    float: left;
                    background: #a90329; /* Old browsers */
                    background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6+ */
                    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
                    background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
                    background: -o-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Opera 11.10+ */
                    background: -ms-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* IE10+ */
                    background: linear-gradient(to bottom,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */                
                    border: 1px solid gray;
                    /*padding: 1em 1em; mantener margenes internos por palabra*/
                }

                    #menu-pagina ul li a{
                        font: normal 0.85em arial;
                        text-decoration: none ;
                        text-transform: uppercase;
                        color: white;
                        text-shadow: 1px 1px 1px black;
                        display: block;
                        margin: 1em;
                    }
                    #menu-pagina ul li a:hover{
                        color: peru;
                        font-weight: bold;
                    }



#content{
    width: 100%;
    height: auto;   
}

    #content-in {
        height: auto;
        width: 960px;
        background-color: #555588;
        margin: 0 auto;
    }

        #content-in-sup{
            background-color: #ccc;
        }
        
            #wraper-menu h3{
                font-size: large;
                color: blue;
            }
        
            #content-in-sup h3{
                font-family: verdana, arial;
                font-size: 18px;
                display: inline-block;
            }

            #content-menu{
                margin: 2px auto;
                border: 1px solid green;                
                display: inline-block;
            }
            

            #content-menu ul{
                padding: 2px 2px                
            }
                #content-menu ul li{
                    background-color: yellow;
                    border-radius: 5px 5px 0 0;
                    display: inline-block;
                    font-family: arial;
                    font-size: 15px;
                    font-style: normal;
                    height: 20px;
                    margin: 5px 1px;
                    text-align: center;
                    width: 50px;
                }
        #content-in-med{
            background-color: #fff;
        }

            #left-sidebar{
                /*border: 1px solid black;*/
                display: block;
                float: left;
                width: auto;
            }
                #left-sidebar ul{
                    display: inline-block;
                    padding: 1.7em 0 1.7em 0.2em;
                }
                    #left-sidebar ul li{
                        list-style-type: none;                  
                        background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
                        background: -moz-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
                        background: -o-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
                        background: -ms-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
                        margin-top: -10px;
                        padding: 10px 5px;
                        width: 85px;
                        position: relative;
                        border: 1px solid black;
                        border-radius: 10px 0;
                        box-shadow: -3px -3px 1px #aaa;
                        opacity: 0.8;
                        transform: skew(-6deg,-15deg);
                        -ms-transform: skew(-6deg,-15deg); 
                        -webkit-transform: skew(-6deg,-15deg); 
                        -o-transform: skew(-6deg,-15deg);
                        -moz-transform: skewX(-6deg) skewY(-15deg);
                    }

                    #left-sidebar ul li:hover{
                        font: bold 1em arial;
                        text-shadow: -1px -1px 2px #000;
                        -webkit-text-shadow: -1px -1px 2px #000;
                        -moz-text-shadow: -1px -1px 2px #000;
                        -o-text-shadow: -1px -1px 2px #000;
                        -ms-text-shadow: -1px -1px 2px #000;
                        opacity: 1;
                        margin-top: -20px;
                        margin-bottom: 10px;
                    }

                        #left-sidebar ul li a{
                            font: bold 1em arial;
                            text-decoration: none;
                            width: 100%;
                            height: 100%;
                            color: white;
                        }

                        #left-sidebar ul li a:hover{
                            text-shadow: -1px -1px 2px #000;
                        }

                
            #center-content{
                width: 70%;
                margin: 0 auto;
                display:block;
            }

            #right-sidebar{     
                width: 15%;
                /*display:inline-block;*/
                float: right;
            }
                #right-sidebar ul{

                }
                    #right-sidebar ul li{
                        list-style: none;
                    }
                        #right-sidebar ul li h2{
                            margin: 0px auto;
                        }

footer {
    width: 960px;
    margin: 0 auto;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
